// HomeTeamSheet

.logo{
		img {
			width: 117px;
			height: 104px;
			position: absolute;
			top: 189px;
			left: 1527.5 px;
			 border: solid 2px red;
		}
width: 1920px;
height: 1080px;

background-image: url(/mediafiles/teamsheet1.png);
background-repeat: no-repeat;
		
}
h2#name{
		font-size: 2 em;
		float: left;
	position: absolute;
	top: 205 px;
	left: 670 px;
}
.la {
	float: left;
	position: absolute;
	top: 372px;
	left: 360 px;
	font-family: 'FS Hackney Trial Regular';
	font-style: Bold;
	font-weight: Bold;
}


	#fwd1 {
		font-size: 1.2 em;
		display: block;
		padding-bottom: 7px;
		text-align: left;
	}

	#fwd2 {
		font-size: 1.2em;
		display: block;
		padding-top: 7px;
		text-align: left;
	}
	#fwd3 {
		font-size: 1.2em;
		display: block;
		padding-top: 6px;
		text-align: left;
	}
	#fwd4 {
		font-size: 1.2em;
		display: block;
		padding-top: 4px;
		text-align: left;
	}
	#fwd5 {
		font-size: 1.2em;
		display: block;
		padding-top: 1px;
		text-align: left;
	}
	#fwd6 {
		font-size: 1.2em;
		display: block;
		padding-top: 6px;
		text-align: left;
	}
	#fwd7 {
		font-size:1.2em;
		display: block;
		padding-top: 6px;
		text-align: left;
	}
	#fwd8 {
		font-size: 1.2em;
		display: block;
		padding-top: 7px;
		text-align: left;
	}

.ra {
	float: left;
	position: absolute;
	top: 362px;
	left: 1050px;
	font-family: 'FS Hackney Trial Regular';
	font-style: Bold;
	font-weight: Bold;
}

	#backs1 {
		font-size: 1.2 em;
		display: block;
		padding-bottom: 5px;
		text-align: left;
	}
	#backs2 {
		font-size: 1.2 em;
		display: block;
		padding-bottom: 6px;
		text-align: left;
	}
	#backs3 {
		font-size: 1.2 em;
		display: block;
		padding-bottom: 6px;
		text-align: left;
	}
	#backs4 {
		font-size: 1.2 em;
		display: block;
		padding-bottom: 5px;
		text-align: left;
	}
	#backs5 {
		font-size: 1.2 em;
		display: block;
		padding-bottom: 5px;
		text-align: left;
	}
	#backs6 {
		font-size: 1.2 em;
		display: block;
		padding-bottom: 4px;
		text-align: left;
	}
	#backs7 {
		font-size: 1.2 em;
		display: block;
		padding-bottom: 5px;
		text-align: left;
	}
	#backs8 {
		font-size: 1.2 em;
		display: block;
		padding-bottom: 5px;
		text-align: left;
	}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
