// HomeTeamSheet


.logo{
		img {
			width: 110px;
			height: 110px;
			position: absolute;
			top: 185px;
			left: 1530.5 px;
		}


background-image: url(/mediafiles/teamsheet1.png);
background-repeat: no-repeat;
width: 1920px;
height: 1080px;
}

h2#name{
		font-size: 1.2 em;
		position: absolute;
		vertical-align: middle
		text-align: center;
		margin: 0;
		transform: translate(-50%, -50%)
		top: 238 px;
		left: 1060 px;
		font-family: 'Tusker Grotesk 7700 Bold';
}

.la {
	font-family: 'FS Hackney Trial Regular';
	font-style: Bold;
	font-weight: Bold;
}


	#fd1 {
		font-size: 1.2 em;
		display: block;
		position: absolute;
		top: 305px;
		left: 350px;
		text-align: left;
	}

	#fd2 {
		font-size: 1.2em;
		display: block;
		position: absolute;
		top: 365px;
		left: 350 px;
		text-align: left;
	}
	#fd3 {
		font-size: 1.2em;
		display: block;
		position: absolute;
		top: 425px;
		left: 350 px;
		text-align: left;
	}
	#fd4 {
		font-size: 1.2em;
		display: block;
		position: absolute;
		top: 485px;
		left: 350 px;
		text-align: left;
	}
	#fd5 {
		font-size: 1.2em;
		display: block;
		position: absolute;
		top: 545px;
		left: 350 px;
		text-align: left;
	}
	#fd6 {
		font-size: 1.2em;
		display: block;
		position: absolute;
		top: 605px;
		left: 350 px;
		text-align: left;
	}
	#fd7 {
		font-size:1.2em;
		display: block;
		position: absolute;
		top: 665px;
		left: 350 px;
		text-align: left;
	}
	#fd8 {
		font-size: 1.2em;
		display: block;
		position: absolute;
		top: 725px;
		left: 350 px;
		text-align: left;
	}

.ra {
	font-family: 'FS Hackney Trial Regular';
	font-style: Bold;
	font-weight: Bold;
}

	#bk1 {
		font-size: 1.2 em;
		display: block;
		position: absolute;
		top: 305px;
		left: 1045px;
		text-align: left;
	}
	#bk2 {
		font-size: 1.2 em;
		display: block;
		position: absolute;
		top: 365px;
		left: 1045px;
		text-align: left;
	}
	#bk3 {
		font-size: 1.2 em;
		display: block;
		position: absolute;
		top: 425px;
		left: 1045px;
		text-align: left;
	}
	#bk4 {
		font-size: 1.2 em;
		display: block;
		position: absolute;
		top: 485px;
		left: 1045px;
		text-align: left;
	}
	#bk5 {
		font-size: 1.2 em;
		display: block;
		position: absolute;
		top: 545px;
		left: 1045px;
		text-align: left;
	}
	#bk6 {
		font-size: 1.2 em;
		display: block;
		position: absolute;
		top: 605px;
		left: 1045px;
		text-align: left;
	}
	#bk7 {
		font-size: 1.2 em;
		display: block;
		position: absolute;
		top: 665px;
		left: 1045px;
		text-align: left;
	}
	#bk8 {
		font-size: 1.2 em;
		display: block;
		position: absolute;
		top: 725px;
		left: 1045px;
		text-align: left;
	}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

