.HomeTeamSheet 
   <div class="logo">
   <img :src="imageUrl" />
   </div>

   <div class= "la">
   span#fd1(v-html="visibleEntry.props.fd1")
   span#fd2(v-html="visibleEntry.props.fd2")
   span#fd3(v-html="visibleEntry.props.fd3")
   span#fd4(v-html="visibleEntry.props.fd4")
   span#fd5(v-html="visibleEntry.props.fd5")
   span#fd6(v-html="visibleEntry.props.fd6")
   span#fd7(v-html="visibleEntry.props.fd7")
   span#fd8(v-html="visibleEntry.props.fd8")
   </div>

   h2#name(v-html="visibleEntry.props.name")
   <div class= "ra">
   span#bk1(v-html="visibleEntry.props.bk1")
   span#bk2(v-html="visibleEntry.props.bk2")
   span#bk3(v-html="visibleEntry.props.bk3")
   span#bk4(v-html="visibleEntry.props.bk4")
   span#bk5(v-html="visibleEntry.props.bk5")
   span#bk6(v-html="visibleEntry.props.bk6")
   span#bk7(v-html="visibleEntry.props.bk7")
   span#bk8(v-html="visibleEntry.props.bk8")
   </div>
